* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  overflow-x: hidden;
}

.app {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

/* Toggle Nav */

.nav .btn_toggle {
  width: 70px;
  height: 70px;
  margin: 5px;
  font-size: 2em;
  text-align: center;
}

.nav h1 {
  display: center;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.sidebar {
  position: fixed;
  width: 260px;
  height: 100vh;
  background: rgb(0, 0, 0);
  left: -270px;
  top: 0;
  transition: all 500ms ease;
  z-index: 1000;
}

.sidebar.active {
  left: 0;
}

.sidebar header .btn_close {
  display: flex;
  justify-content: center;
  position: absolute;
  right: 10px;
  border-radius: 50%;
  border: 0;
  width: 35px;
  height: 35px;
}

.sidebar header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background: rgb(20, 20, 20);
  color: #fff;
}
.sidebar header h5 {
  color: #fff;
}

/* Timer */

.display_time_left,
.display_end_time {
  margin: 50px 0 30px 0;
  font-size: 40px;
  text-align: center;
}
.display_time_left {
  font-size: 80px;
}

.timer_controls {
  background: #222222;
  width: 100%;
  display: flex;
}

.timer_button {
  height: 80px;
  width: 100px;
  flex: 1;
}

/* TO-DO List */

.to_do_list li {
  list-style: none;
  transition: all 3s ease;
}

.info_deleted {
  transform: translate(50%, 0%);
}

.item.checkbox_item {
  border-radius: 50%;
}

.item.ghost {
  opacity: 0;
}
