@mixin buttonColor($color) {
  background: $color;
  &:hover,
  &:focus {
    background: darken($color, 10);
    box-shadow: 0 0 1px 4px rgba($color, 0.5);
  }
}

$transition: all 0.2s ease-out;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1b1b1c;
  color: #fff;
  font-family: "Varela Round", sans-serif;
  overflow: hidden;
}
::selection {
  background: transparentize(#ff6363, 0.5);
}
#app {
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-flow: column wrap;
}

.header {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  h1 {
    text-align: center;
  }
  .btn_open {
    position: absolute;
    top: 1rem;
    left: 1rem;
  }
}

.settings-sidebar {
  text-align: center;
  width: 15rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background: #131311;
  transition: all 0.3s ease-in;
  &.active {
    transform: translateX(0);
  }
}

.timer {
  &__controls {
    height: 6rem;
    display: flex;
  }
  &__status {
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    color: #fff;
    background: #9627a0;
    margin-bottom: 2rem;
  }
}

.btn {
  border: none;
  outline: none;
  transition: $transition;

  &__close {
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
    background: #ee2e31;
    color: #fff;
    top: 1rem;
    right: 1rem;
    @include buttonColor(#ee2e31);
  }

  &__controls {
    height: 100%;
    padding: 1rem 2rem;
    flex: 1 1 100px;
    flex-flow: wrap;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.5rem;
    &:nth-child(1) {
      @include buttonColor(#b32020);
    }
    &:nth-child(2) {
      @include buttonColor(#15925e);
    }
    &:nth-child(3) {
      @include buttonColor(#251996);
    }
  }
}

.display {
  min-height: 8rem;
  margin: 2rem 0;
}

.display_time_left {
  font-size: 4rem;
}

.ilustration {
  margin: 1rem 0;
}

